div {
    font-size: 20px;
}

div>div {
    width: 100px;
    height: 100px;
}

.demo {
    background-color: #FF9933;
}

div[id^="reddiv"] {
    background-color: #FF0000;
}

div[id^="greendiv"] {
    background-color: #00FF00;
}

div[id^="bluediv"] {
    background-color: #0000FF;
}